@import url('/fonts/fontawesome/css/all.css');

/* css styles */
.roundedimg {
    border-radius: 80%;
  }
  
  

body {
  background-image: url("/pics/tromsoown.png");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center top; /* Center the image */
  background-size: 100%; /* Resize the background image to cover the entire container */
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
}

.centered {
    text-align: center !important;
    fig-align: center !important;
}

.alignright {
/*    text-align: right !important;
    fig-align: right !important;*/
    float: right;
    padding-left: 5px;
    /*overflow: auto;*/
}

.software {
  overflow: auto;
  padding-bottom: 10px;
}

dd {
  border-left: 5px solid lightblue;
  padding-left: 5px;
}
  

.refnum {
  float: left;
  width: 5%;
}

.ref {
  float: left;
  width: 95%;
  padding-bottom: 10px;
}

/* Clear floats after the columns */
.reference:after {
  content: "";
  display: table;
  clear: both;
}

.refnum p {
  padding: 0;
  border: none;
}

.notes{
  float: right;
}
.note{
   display: inline-block;
}

.pdf:before {
   content: "\f1c1";
   font-family: "Font Awesome 6 Free";
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
}
.preprint:before {
   /*content: url(/pics/psyarxiv.jpg);*/
   content:"";
   background-image:url("/pics/psyarxiv.jpg");
   background-size:20px 20px;
   display: inline-block;
   width: 20px;
   height: 20px;
   /*padding-right: 3px;*/
   vertical-align: middle;
}

.supplement:before {
   content: "\f187";
   font-family: "Font Awesome 6 Free";
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
}


.website:before {
   content: "\f0c1";
   font-family: "Font Awesome 6 Free";
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
}

.journal:before {
   content: "\f19c";
   font-family: "Font Awesome 6 Free";
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
}
.correction:before {
   content: "\f0fa";
   font-family: "Font Awesome 6 Free";
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
}

.github:before {
   content: "\f121";
   font-family: "Font Awesome 6 Free";
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
}


.rev-lists > ol {
  list-style-type:none;
  counter-reset:item 6;
}
.rev-lists > ol > li {
  counter-increment:item -1;
}
.rev-lists > ol > li:after {
  content: counter(item);
}


